   *{
    margin: 0px;
    padding: 0px;
}
:root{
    --ff-primary: 'Montserrat Alternates', sans-serif;
    --ff-secundary: 'Lobster', cursive;
    --ff--base:'Orbitron', sans-serif;
    --bg--primary:#ffcc99;
    --bg--secundary:#ffff;
    --fc--primary:white;
    --fc-seundary: black;
    --fs-title:70px;
    --fs--subtitle:30px;
}
body{background-color: var(--bg--secundary);}

h1, h2{
    font-family: var(--ff-secundary);
}

hr{border: 1px solid fuchsia;}
header{
    width: 100%;
    height: 450px;
   background: url("img/portada.jpg") no-repeat fixed top;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    text-align: right;
    color:var(--fc--secundary);
}
.wave{
    position: relative;
    margin-top: 20px;
    width: 100%;
}

    
li{
    font-size:30px;
    font-weight: 600;
    color: var(--fc-seundary);
    font-family: var(--ff-secundary);
}

a{color: var(--fc-seundary);}

.logo{width: 150px;}

/*.title{background-color: rgba(14, 15, 14, 0.548); padding-bottom: 10px; width: 600px;margin: auto;}*/
.title{padding-right: 50px;}
.title h1{
    margin-top: 50px;
    font-size: var(--fs-title);
    font-family:var(--ff-secundary);    
}
.list img{width: 250px;}
.list i{
    color: fuchsia;
} 

.list p{
    font-size: 20px;
}
  
.btn{
    width: 150px;
    font-size: 20px;
    font-family: var(--ff-secundary);
}

#socialfixed{
    position:fixed;
    top:60%;
    width: 70px;
    height: 180px;
    background-color:rgba(236, 56, 212, 0.548);
    z-index: 100;
    padding-top: 15px;
    padding-left: 10px;
    }
.donuts{
    width: 100%;
    height: 450px;
    background: url("img/cup-str.jpg");
    background-position: center;
    background-size: cover;
    text-align:center;
    color:var(--fc--secundary);   
}  

.donuts2 p{
    font-size: 20px;
}
.donuts2 i{
    color: fuchsia;
   }

.contacto{
    background-color: var(--bg--secundary);
}

footer{
    width: 100%;
    height: 50px;
    color:var(--fc--primary);
    text-align: center;
    padding: 10px;
    background-color: #3366cc;
   }

@media screen and (max-width:742px){
    .wave{margin-top: 20px;}  
}